body{
	margin:0;
	padding:0;
	background: rgba(65,131,196,0.1);
}

#content{
	min-height:1000px;
	width:800px;
	margin: auto;
}
#centered{
	margin:0 auto;
}
.blogPost{
	padding:15px;
	margin-top:10px;
	margin-bottom: 10px;
	min-height: 200px;
	border-radius: 20px;
	border:solid 2px lightgrey;
	background-color:white;
}
.blogTitle{
	font-weight: bold;
	border-bottom: solid 1px lightgrey;
	font-size:14pt;
}
.blogTitle :hover{
	text-decoration: underline;
}
.blogText{
	margin-top: 5px;
	min-height: 175px;
	max-height: 175px;
}
.blogDate{
	border-top: solid 1px lightgrey;
	height:30px;
}
#nav{
	padding-top:10px;
	margin:auto;
	width: 200px;
	text-align: center;
}
#nav a{
	margin-top: 10px;
	text-decoration: none;
	color: black;
}

#footer{
	padding-top: 20px;
	width: 600px;
	height: 100px;
	margin: auto;
	text-align: center;
}
#footer a{
	text-decoration: none;
	color: black;

}
#show {
	width:960px;
	margin: auto;
}
.newPost {
	width:960px;
	margin: auto;
	text-align:right;
	margin-bottom:10px;
}

